name: Deploy docueye cli nuget 
run-name: 'Deploy docueye cli nuget ${{ github.event.inputs.docueye_cli_version }}' 
on: 
  workflow_dispatch:
    inputs:
      docueye_cli_version:
        description: 'DocuEye cli version'
        required: true
jobs:
  deploy_nuget:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
    - name: Build
      run: dotnet build ./DocuEye.sln -c Release
    - name: Build Cli package
      run: dotnet pack ./Source/DocuEye.CLI/DocuEye.CLI.csproj -c Release -o ./Source/DocuEye.CLI/bin/Release
    - name: Publish Cli package
      run: dotnet nuget push ./Source/DocuEye.CLI/bin/Release/DocuEye.CLI.${{ github.event.inputs.docueye_cli_version }}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_APIKEY }} --skip-duplicate
    
    